@font-face{
    font-family: nav;
    src:url("/source/fonts/NanumSquareB.ttf")
}

html{
    height: 100%;
}

body{
    font-family: nav;
    height: 90%;
}

.contain{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: left;
    font-size: 30px;
    width: 500px;
}

.hr{
    display: block;
    width: 500px;
}

.inAndBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

.stdIn{
    display: inline-block;
    flex-shrink: 0;
    font-family: nav;
    box-sizing: border-box;
    display: block;
    width: 350px;
    height: 45px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 24px;
    outline: none;
    border-color: rgb(231, 230, 230);
}

.stdBtn{
    font-family: nav;
    flex-shrink: 0;
    width: 130px;
    height: 45px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
}

.stdIn:focus{
    border-color: rgb(24, 119, 242);
}

.checkRegisterBtn{
    font-family: nav;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    font-size: 20px;
    color: white;
    background-color: rgb(0, 164, 0);
    border: none;
}

.selectTitle{
    font-size: 20px;
}

#birthSelect{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#genderSelect{
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.radioSelect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    border: solid 1px;
    
    font-size: 20px;
}

#pwCheckRes{
    width: 500px;
    text-align: left;
    color: blue;
    font-size: 14px;

    margin-bottom: 10px;
}