@font-face{
    font-family: nav;
    src:url("/source/fonts/NanumSquareB.ttf")
}

@media (max-width: 400px){
    
}

body{
    font-family: nav;
}


.dateContain{
    display: block;
    margin-bottom: 10px;
}

.date{
    display: block;
}

.timeContain{
    display: block;
    margin-bottom: 10px;
}

.time{
    display: inline-block;
}

.textarea{
    font-family: nav;
    display: block;
    resize: none;
    width: 95%;
    height: 30%;
}

.selectContain{
    margin-top: 10px;
}

.okBtn{
    font-family: nav;
    border: none;
    background-color: rgb(24, 119, 242);
    color: white;

    border-radius: 6px;
    
    width: 70px;
    height: 38px;
    font-size: 20px;
}

.cancelBtn{
    font-family: nav;
    border: none;
    background-color: rgb(191, 191, 191);
    color : white;
    
    border-radius: 6px;

    width: 70px;
    height: 38px;
    font-size: 20px;
}