body{
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
}

nav{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    padding-top : 10px;
    padding-bottom : 10px;
    width: 100%;
    height: 60px;
    background-color: var(--white);
    z-index: 2;
}

#sideMenu{
    position: fixed;
    z-index: 1;
    right: -30%;
    width: 30%;
    height: 100%;
    overflow: hidden;
    background-color: var(--menu_color);
}

.logo{
    position: absolute;
    left: 10px;
    width: 140px;
}

.dateContain{
    display: flex;
    position: absolute;
    left: 160px;
    height: fit-content;
}

.today{
    flex-shrink: 0;
    display: inline-flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 40px;
    margin-right: 20px;
    border: 1px solid var(--black);
    border-radius: 5px;
}

.yearChange{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: fit-content;
    font-size:  34px;
}

#dateSelect{
    flex-shrink: 0;
    margin-left: 20px;
    display: inline-block;
}

#miniDateSelect{
    display: none;
}

#menu{
   position: absolute;
   right: 10px;
    width : 40px;
    height : 40px;
    fill : var(--menu_svg_color);
}

hr{
    position: fixed;
    width: 100%;
    box-sizing:border-box;
    top: 80px;
    margin: 0;
    z-index: 2;
}

main{
    margin-top: 100px;
    flex-grow: 1;
    width: 100%;
    display: flex;
    max-height: fit-content;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.addAndName{
    margin-left: 10%;
    display: inline-flex;
    width: 80%;
    align-items: center;
    text-align: left;
    margin-top: 100px;
}

.addSchedule{
    font-family: nav;
    font-size: 26px;
    width: 200px;
    height: 70px;
    border-radius: 35px;
    border: 1px solid var(--black);
    box-shadow: 0px 2px 5px var(--silver);
    background-color: var(--white);
}

.userName{
    font-size: 45px;
    margin-left: 20px;
}

#myScheduleContain{
    margin-left: 10%;
    overflow: scroll;
    overflow-x: hidden;
    width: 80%;
    height: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: var(--silver);
}

.mySchedule{
    height: 70px;
    position: relative;
    box-sizing: border-box;
    background-color: var(--white);
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
}

.myInfoContain{
    margin-left: 10%;
    width: 80%;
    margin-top: 100px;
    background-color: var(--white);
}

#myInfo{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    height: fit-content;
    overflow: hidden;
}

.nameInfo{
    font-size: 26px;
}

.otherInfo{
    color: var(--silver);
    margin-top: 10px;
}

.logoutBtn{
    display: flex;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10%;
}

.logutBtnImg{
    height: 20px;
    margin-right: 5px;
}

#admin{
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}

.adminText{
    font-size: 20px;
}

#officerList{
    height: 40%;
    overflow: scroll;
    background-color: var(--white);
    padding-bottom: 20px;
    overflow-x: hidden;
}

.officer{
    padding : 5px;
    border-bottom: 1px solid var(--black);
}

.officerName{
    font-size: 26px;
}

.officerEmail{
    font-size: 16px;
}

.editAndRemove{
    display: flex;
    align-items: center;
    position: absolute;
    height: 70px;
    top: 0px;
    right: 10px;
    color: var(--silver);
}

@media (max-width: 700px){
    #sideMenu{
        width: 100%;
        right: -100%; 
    }
    .userName{
        font-size: 30px;
    }
    .addSchedule{
        font-size: 16px;
        width: 100px;
        height: 35px;
    }
    .mySchedule{
        height: 45px;
        font-size: 12px;
    }
    .editAndRemove{
        height: 45px;
        font-size: 12px;
    }
    .today{
        display: none;
    }
    .yearChange{
        display: none;
    }
    #dateSelect{
        display: none;
        margin-left: 5%;
        margin-top: 100px;
    }
    #miniDateSelect{
        display: block;
        margin-left: 5%;
        margin-top: 80px;
    }
    .addAndName{
        margin-left: 5%;
        width: 90%;
        margin-top: 10px;
    }
    #myScheduleContain{
        margin-left: 5%;
        margin-top: 10px;
        width: 90%;
    }
    nav{
        height: 40px;
    }
    .logo{
        width: 100px;
    }
    hr{
        top : 60px
    }
}

