#pwCheckRes{
    width: 500px;
    text-align: left;
    color: var(--blue);
    font-size: 14px;
    
    margin-bottom: 10px;
}

@media (max-width: 550px){
    .logo{
        width: var(--std_mini_width);
    }
    .stdIn{
        width: var(--std_mini_width);
        height: 40px;
        font-size: 16px;
    }
    .autoLoginContain{
        width: var(--std_mini_width);
    }

    .title{
        text-align: left;   
        font-size: 30px;
        width: var(--std_mini_width);
    }
    
    hr{
        display: block;
        width: var(--std_mini_width);
    }

    #pwCheckRes{
        width: var(--std_mini_width);
        font-size: 14px;
    }
}
