.autoLoginContain{
    width: var(--std_width);
    height: 16px;
    text-align: left;
    margin-bottom: 10px;
}

.autoLogin{
    display: flex;
    width: fit-content;
    align-items: center;
}

.find{
    color: var(--silver);
}

.auto{
    width: 16px;
}

.moveText:hover{
    text-decoration: underline;
}

@media (max-width: 550px){
    .logo{
        width: var(--std_mini_width);
    }
    .stdIn{
        width: var(--std_mini_width);
        height: 40px;
        font-size: 16px;
    }
    .autoLoginContain{
        width: var(--std_mini_width);
    }
}
