@font-face{
    font-family: nav;
    src:url("/source/fonts/NanumSquareB.ttf")
}


input[type=password] {
    font-family: initial;

    &::placeholder {
        font-family: nav;
    }
}

:root{
    --blue_border_color: rgba(68, 114, 196, 0.5);
    --white_border_color: rgb(231, 230, 230);
    --blue_bg_color: rgb(24, 119, 242);

    --menu_color: rgb(243, 246, 252);
    --menu_svg_color: rgb(24, 119, 242);

    --silver : rgb(136, 136, 136);
    --black : black;
    --white : white;
    --blue : blue;
    --std_width : 500px;
    --std_mini_width : 350px;
}

body{
    font-family: nav;
}

.logo{
    display: block;
    width: var(--std_width);
}

.hr{
    display: block;
    flex-shrink: 0;
    width: var(--std_width);
    background-color: var(--blue_border_color);
    height:1px;
    border:0; 
    
    margin: 0;
    margin-top : 16px;
    margin-bottom : 16px;
}

.contain{
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.contain{
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.stdIn{
    flex-shrink: 0;
    font-family: nav;
    box-sizing: border-box;
    display: block;
    width: var(--std_width);
    height: 60px;
    padding-left: 8px;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 30px;
    outline: none;
    border : 2px solid var(--white_border_color);
}

.stdIn:focus{
    border-color: var(--blue_border_color);
}

.title{
    text-align: left;
    font-size: 30px;
    width: var(--std_width);
}

.loginBtn{
    color: var(--white);
    background-color: var(--blue_bg_color);
    border: none;
}